<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ProductMapper">
  <select id="searchProducts" resultType="com.example.dto.ProductCardDto">
    SELECT product_id, product_name, price, stock,
    CASE
      WHEN stock &lt;= 0 THEN TRUE
      ELSE FALSE
    END AS out_of_stock
    FROM product
    WHERE sale_status = '1'
    <if test="keywords.size() > 0">
      AND (
      <foreach collection="keywords" item="kw" separator="OR ">
        product_name LIKE CONCAT('%', #{kw}, '%')
      </foreach>
      )
    </if>
    ORDER BY
    <choose>
      <when test="sort.name() == 'NEW'">
        created_at DESC 
      </when>
      <when test="sort.name() == 'HIGH'">
        price DESC 
      </when>
      <when test="sort.name() == 'LOW'">
        price ASC 
      </when>
    </choose>
    , product_id DESC
    LIMIT #{offset}, #{size}
  </select>
  
  <select id="countProducts" resultType="int">
    SELECT COUNT(*)
    FROM product
    WHERE sale_status = '1'
    <if test="keywords.size() > 0">
      AND (
      <foreach collection="keywords" item="kw" separator="OR ">
        product_name LIKE CONCAT('%', #{kw}, '%')
      </foreach>
      )
    </if>
  </select>
</mapper>